USE [PRSistemas]
GO
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 18/08/2022 22:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[CPF] [varchar](50) NOT NULL,
	[CEP] [int] NOT NULL,
	[ENDERECO] [varchar](150) NULL,
	[NUMERO] [int] NOT NULL,
	[CIDADE] [varchar](50) NULL,
	[ESTADO] [varchar](3) NULL,
	[BAIRRO] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESSOA]    Script Date: 18/08/2022 22:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOA](
	[NOME] [varchar](50) NULL,
	[CPF] [varchar](50) NOT NULL,
	[RG] [int] NULL,
	[NOME_MAE] [varchar](50) NULL,
	[NOME_PAI] [varchar](50) NULL,
 CONSTRAINT [PK_PESSOA] PRIMARY KEY CLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_PESSOA] FOREIGN KEY([CPF])
REFERENCES [dbo].[PESSOA] ([CPF])
GO
ALTER TABLE [dbo].[ENDERECO] CHECK CONSTRAINT [FK_ENDERECO_PESSOA]
GO
